<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="nav-bar">
        <h1>TODOLIST</h1>

        <div class="nav-options">
            <a id="login" href="login">Login</a>
            <a id="signup" href="signup">Signup</a>
        </div>
    </div>

    <div class="main-body">
        <div class="to-do-container">
            <h2>Welcome, <span></span></h2>

            <ul class="to-do-list">
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul>
        </div> 
    </div>

    <div class="footer">
        <span>Copyright &copy; 2020</span>
    </div>
    <script src="main.js"></script>
</body>
</html>